.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
}

.adicionar {
    cursor: pointer;
    background-color: rgb(94, 12, 12);
    color: white;
    border: black solid 2px;
    padding: 10px;
    border-radius: 15px;
}

.adicionar:hover{
transform: scale(1.15);
transition: 0.6 s;
}
